# ------------------------------------- #
# ---- General Settings --------------- #
# ------------------------------------- #
baseURL = "https://www.showcodeba.com"
title = "蓝域星河有限公司集团"
theme = "hugo-theme-den"
enableRobotsTXT = true       # generate robots.txt
enableEmoji = true           # use emoji support
hasCJKLanguage = true        # detect CJK languages for word count etc.
preserveTaxonomyNames = true # do not make tag names lowercase
# uglyURLs = true            # more info: https://gohugo.io/content-management/urls/#ugly-urls
rssLimit = 20                # limit number of entries in RSS feeds

disablePathToLower = true 

# Copyright, appears in the footer
# copyright = ""             # default: author.name

# Pagination
# number of entries per page for archives, tags and categories
# since we don't have list view, recommend a large value
paginate = 20
paginatePath = "page"

# Syntax Hightlight
PygmentsCodeFences = true
PygmentsUseClasses = true    # required for shhighlight shortcode

# service plugins
disqusShortname = ""         # disqus_shortname
googleAnalytics = ""         # UA-XXXXXXXX-X

# language support # en / zh-tw / other... translations present in i18n/
defaultContentLanguage = "zh-cn"           # Default language to use
defaultContentLanguageInSubdir = false



# Links format
[permalinks]
  posts = "/:year/:month/:day/:slug/"
  categories = "/category/:slug/"      # required
  tags = "/tag/:slug/"                 # required
  pages = "/:slug/"

[author]                     # required
  name = "蓝域星河有限公司集团"

[sitemap]                    # required
  changefreq = "daily"
  priority = 0.8
  filename = "sitemap.xml"

# ------------------------------------- #
# ---- Other Params ------------------- #
# ------------------------------------- #

[params]
  since = "2024"             # Site creation time
  rssFullContent = true      # set true to use full content instead of summary

  # site info (optional)
  keywords = [ "技术","编程"]
  description = " "
  logoTitle = " " # shown on top-left, default: title
  siteLogoImage = ""     # shown besides logoTitle
  # headerTitle = "Den"                   # default: title
  #headerImage = "images/background.png"
  headerImage = "https://tu.ltyuanfang.cn/api/fengjing.php"
  showAuthorCard = true # Whether to show author information below the article
  comments = true
  showMenuLanguages = true
  customFavicon = "images/photo.png"

  autoLoadComments = true # auto load comment when scrolling down

  # paginate style, default use numbered pagination links
  # if true, use original "Previous" and "Next" links.
  # paginateOriginalStyle = true

  # The date format to use; for a list of valid formats, see https://gohugo.io/functions/format/
  dateFormatToUse = "2007-04-10"

  # google_verification = "google57680cd58c46e2f3.html"  # Google_Verification

  enableRelated = true


  # Link custom CSS and JS assets
  #   (relative to /static/css and /static/js respectively)
  customCSS = []             # if ['custom.css'], load '/static/css/custom.css' file
  customJS = []              # if ['custom.js'], load '/static/js/custom.js' file

  # [params.busuanzi]         # count web traffic by busuanzi # 是否使用不蒜子统计站点访问量
  #   enable = true
  #   siteUV = true
  #   sitePV = true
  #   pagePV = true
# [params.utterance]
#   enable = true
#   owner = "huzhicheng"
#   repo = "huzhicheng.github.io"

# ------------------------------------- #
# ---- Related Articles --------------- #
# ------------------------------------- #
[related]
  # Only include matches with rank >= threshold. This is a normalized rank between 0 and 100.
  threshold = 50

  # To get stable "See also" sections we, by default, exclude newer related pages.
  includeNewer = true

  # Will lower case keywords in both queries and in the indexes.
  toLower = false

[[related.indices]]
  name = "categories"
  weight = 200

[[related.indices]]
  name = "keywords"
  weight = 150

[[related.indices]]
  name = "tags"
  weight = 100

[languages.zh-cn]
  languageCode = "zh-cn"
  languageName = "简体中文"
  contentDir = "content/cn"
  weight = 2

 [languages.zh-cn.params]
    description = " "

  [[languages.zh-cn.menu.main]]
    name = '<i class="fas fad fa-h-square"></i>主页'
    weight = 1
    identifier = "home"
    url = "/"

  [[languages.zh-cn.menu.main]]
    name = "<i class='fas fa-laptop-code'></i>文章"
    weight = 20
    identifier = "文章"    

  [[languages.zh-cn.menu.main]]
    name = "<i class='fas fa-laptop-code'></i>产品"
    weight = 30
    identifier = "产品"

  [[languages.zh-cn.menu.main]]
    parent = "产品"
    name = '牙线报'
    weight = 10
    identifier = "newspaper"
    url = "category/SpringCloud"

  [[languages.zh-cn.menu.main]]
    parent = "产品"
    name = '星雨机器人'
    weight = 20
    identifier = "robot"
    url = "category/robot"

 [[languages.zh-cn.menu.main]]
    name = '<i class="fas fad fa-h-square"></i>主页'
    weight = 1
    identifier = "home"
    url = "category/picture"

  [[languages.zh-cn.menu.social]]
    name = "GitHub"
    weight = 10
    identifier = "github"
    url = "https://github.com/WatchFleeting"

  [[languages.zh-cn.menu.links]]
    name = "关于我们"
    weight = 10
    identifier = "about-me"
    url = "https://github.com/WatchFleeting"


# [languages.en]
#   languageCode = "en"
#   languageName = "English"
#   contentDir = "content/en"
#   weight = 2

#   [languages.en.params]
#     description = "Write something here."

#   [[languages.en.menu.main]]
#     name = "Home"
#     weight = 10
#     identifier = "home"
#     url = "/"

#   [[languages.en.menu.main]]
#     name = "Java"
#     weight = 20
#     identifier = "java"
#     url = "category/java/"

#   [[languages.en.menu.main]]
#     name = "Life Notes"
#     weight = 10
#     identifier = "notes"
#     url = "category/notes/"
  
#   [[languages.en.menu.main]]
#     name = "Demo Showcase"
#     weight = 20
#     identifier = "demos"
#     url = "category/demos/"

#   [[languages.en.menu.social]]
#     name = "GitHub"
#     weight = 10
#     identifier = "github"
#     url = "https://github.com/huzhicheng"

#   [[languages.en.menu.links]]
#     name = "About Me"
#     weight = 10
#     identifier = "about-me"
#     url = "https://github.com/huzhicheng"
